*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-weight: normal;
    font-style: normal;
    font-family: -apple-system, 'Oxygen', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    text-transform: uppercase;
    font-family: 'matrixregular';
}

.background {
    min-height: 100vh;
    background-image: url('../img/bckgrnd.jpg');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.custopOpacity {
    opacity: .95;
}

.sirinaKartice {
    max-width: 19rem;
}

.imgHeight {
    height: 24rem;
    width: 19rem;
}