*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-weight: normal;
    font-style: normal;
    font-family: -apple-system, 'Oxygen', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.my-6{
    margin: 60px 0;
}

.logo {
    text-transform: uppercase;
    font-family: 'matrixregular';
    font-size: 24px;
    padding: 0;
}

.logo span{
    color: rgb(0, 143, 17);
}

.background {
    min-height: 100vh;
    background-image: url('../img/bckgrnd.jpg');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
}

.customOpacity {
    opacity: .96;
}

.pointer{
    cursor: pointer;
}

/* Modal */
.modal__list {
    width: 460px;
    height: 100vh;
    background-color: #212529;
    position: absolute;
    top: 0;
    left: calc(100vw - 460px);
    padding: 16px;
    overflow-y: scroll;
}

.counter {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(255, 78, 78);
    position: absolute;
    right: 16px;
    bottom: 12px;
}

.counter h3 {
    font-size: 13px;
    font-weight: bold;
}

.single__movie{
    background-color: rgba(33, 37, 41, 0.8);
    width: calc(100% - 40px);
    min-height: 550px;
    margin: 0 20px;
    padding: 10px;
    border-radius: 5px;
}
