*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-weight: normal;
    font-style: normal;
    font-family: -apple-system, 'Oxygen', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.form-control::placeholder { 
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}


.my-6{
    margin: 60px 0;
    /* z-index: 10000; */
}

.logo {
    text-transform: uppercase;
    font-family: 'matrixregular';
    font-size: 24px;
    padding: 0;
}

.logo span{
    color: rgb(0, 143, 17);
}

#logoMobile{
    display: none;
}

.background {
    min-height: 100vh;
    background-image: url('../img/bckgrnd.jpg');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
}

.customOpacity {
    opacity: .96;
}

.pointer{
    cursor: pointer;
}

.counter {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(255, 78, 78);
    position: absolute;
    right: 16px;
    bottom: 12px;
}

.counter h3 {
    font-size: 13px;
    font-weight: bold;
    /* padding-top: 2px; */
}

.single__movie{
    background-color: rgba(33, 37, 41, 0.92);
    /* width: calc(100% - 40px); */
    /* min-height: 550px; */
    /* margin: 0 20px; */
    padding: 20px;
    border-radius: 5px;
}

.single__movie th {
    width: 240px;
}


@media (max-width: 768px){
    #logoMobile{
        display: block;
    }

    #logo{
        display: none;
    }
}